---
import MFExample from "../MFExample.astro";
import html from "./../../../public/images/tech/html.svg";
import preact from "./../../../public/images/tech/preact.svg";
import react from "./../../../public/images/tech/react.svg";
import vite from "./../../../public/images/tech/vite.svg";
import webpack from "./../../../public/images/tech/webpack.svg";
import rspack from "./../../../public/images/tech/rspack.svg";
import question from "./../../../public/images/tech/question.svg";
import htmx from "./../../../public/images/tech/htmx.svg";
---

<div class="root">
  <div class="text">
    <h2
      class="font-bold text-text-heading text-2xl md:text-3xl pt-4 pb-2 overflow-hidden"
    >
      Implementations
    </h2>
    <p>
      List of existing implementations. Look at the source code, try them out,
      and maybe add your own.
    </p>
  </div>

  <div class="examples">
    <MFExample
      title="Blueprint"
      rendering="no frameworks, server-only"
      lib1={html}
      lib2={html}
      lib3={html}
      integration="Modular Monolith"
      author="neuland - B端ro f端r Informatik"
      authorUrl="https://www.neuland-bfi.de"
      githubUrl="https://github.com/neuland/tractor-store-blueprint"
      liveUrl="https://blueprint.the-tractor.store/"
    />

    <MFExample
      title="Preact"
      rendering="MPA (three SPAs), universal"
      lib1={preact}
      lib2={preact}
      lib3={preact}
      integration="ESI, Web Components"
      author="neuland - B端ro f端r Informatik"
      authorUrl="https://www.neuland-bfi.de"
      githubUrl="https://github.com/neuland/tractor-store-preact"
    />

    <MFExample
      title="Piral & React"
      rendering="app shell (three SPAs), client-only"
      lib1={react}
      lib2={react}
      lib3={react}
      integration="Piral"
      author="smapiot"
      authorUrl="https://smapiot.com/"
      githubUrl="https://github.com/piral-samples/tractor-v2"
      liveUrl="https://tractor-v2.samples.piral.cloud"
    />

    <MFExample
      title="Picard.js & Preact"
      rendering="app shell (three SPAs), client-only"
      lib1={preact}
      lib2={preact}
      lib3={preact}
      integration="Picard.js, Native Federation"
      author="smapiot"
      authorUrl="https://smapiot.com/"
      githubUrl="https://github.com/picardjs/picard/tree/develop/examples/13-spa-tractor-v2-full"
      liveUrl="https://picard-tractor.munichjs.org"
    />

    <MFExample
      title="Webpack & React"
      rendering="app shell (three SPAs), client-only"
      lib1={react}
      lib2={react}
      lib3={react}
      integration="Module Federation"
      author="Kent.Li"
      authorUrl="https://github.com/teabyii"
      githubUrl="https://github.com/teabyii/tractor-store-react"
      liveUrl="https://tractor-store-react.pages.dev"
    />

    <MFExample
      title="Webpack, Vite & Rspack"
      rendering="app shell (three SPAs), client-only"
      lib1={webpack}
      lib2={vite}
      lib3={rspack}
      integration="Module Federation"
      author="smapiot"
      authorUrl="https://smapiot.com/"
      githubUrl="https://github.com/FlorianRappl/module-federation-tractor-v2"
      liveUrl="https://module-federation-tractor-v2.florian-rappl.de"
    />

    <MFExample
      title="HTMX, Spring Boot"
      rendering="no frameworks, partial updates"
      lib1={htmx}
      lib2={htmx}
      lib3={htmx}
      integration="nginx SSI"
      author="inaudi tech"
      authorUrl="https://www.inauditech.com/"
      githubUrl="https://github.com/heerens/tractor-store-htmx-tailwind"
      liveUrl="https://tractorstore.inauditech.com/"
    />

    <MFExample
      title="Zephyr"
      rendering="React, client-only"
      lib1={react}
      lib2={react}
      lib3={react}
      integration="Module Federation, Rspack"
      author="Zephyr"
      authorUrl="https://zephyr-cloud.io/"
      githubUrl="https://github.com/ZephyrCloudIO/zephyr-examples/tree/main/examples/react-rspack-tractor-2.0"
      liveUrl="https://latest-tractor-v2-app-zephyr-examples-zephyrcloudio-ze.zephyr-cloud.io/"
    />

    <MFExample
      title="Your Implementation ..."
      rendering="[rendering approach]"
      lib1={question}
      lib2={question}
      lib3={question}
      integration="[integration techniques]"
      author="[author]"
      contribute
    />
  </div>
</div>

<style>
  .root {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 4rem;
  }
  .text {
    @media (max-width: 999px) {
      margin-bottom: 2rem;
      grid-column: 1 / -1;
    }

    @media (min-width: 1000px) {
      grid-column: 1 / 6;
    }
    margin-bottom: 2rem;
  }

  .examples {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    grid-column: 1 / -1;
  }
  .examples > :global(*) {
    @media (max-width: 499px) {
      grid-column: span 12;
    }

    @media (min-width: 500px) and (max-width: 999px) {
      grid-column: span 6;
    }

    @media (min-width: 1000px) and (max-width: 1249px) {
      grid-column: span 4;
    }

    @media (min-width: 1250px) {
      grid-column: span 3;
    }
  }
</style>
