---
const {
  title,
  flag,
  rendering,
  integration,
  lib1,
  lib2,
  lib3,
  author,
  company,
  githubUrl,
  liveUrl,
} = Astro.props;
---

<section class="mfexample">
  {
    flag ? (
      <div class="absolute py-1  transform rotate-45 text-center text-xs right-[-30px] top-[10px] w-[120px] drop-shadow-sm c-border z-20 text-xs">
        {flag}
      </div>
    ) : null
  }

  <p class="pb-3 px-1 text-xs">
    <strong>{title}</strong><br />
    {rendering}
  </p>

  <div class="elements c_shadow">
    <div class="element vertical">
      <img src={lib1} typeof="foaf:Image" class="m-auto size-6" />
    </div>
    <div class="element vertical">
      <img src={lib2} typeof="foaf:Image" class="m-auto size-6" />
    </div>
    <div class="element vertical">
      <img src={lib3} typeof="foaf:Image" class="m-auto size-6" />
    </div>
    <div class="element integration text-xs">
      {integration}
    </div>
  </div>

  <div class="repository text-xs px-1">
    {
      author && (
        <p class="author">
          <>
            <strong>by {author}</strong>
            <br />
          </>
          {company}
        </p>
      )
    }
    {
      githubUrl && (
        <a class="githubUrl" href={githubUrl}>
          View on Github
        </a>
      )
    }

    {
      liveUrl && (
        <a class="liveUrl" href={liveUrl}>
          Live Demo
        </a>
      )
    }
  </div>
</section>

<style>
  .mfexample {
    border: 1px solid #ebeee2;
    padding: 1.5rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
  }
  :global(.dark) .mfexample {
    border: 1px solid #4b3648;
  }

  .elements {
    border-radius: 10px;
    display: grid;
    gap: 0.5rem;
    grid-template:
      "microfrontend microfrontend microfrontend" 1fr
      "integration integration integration" 40px / 1fr 1fr 1fr;
  }

  .element {
    background-color: white;
    border: 1px solid #ebeee2;
    border-radius: 10px;
    display: grid;
    place-content: center;
  }

  :global(.dark) .element {
    background-color: #0f182a;
    border: 1px solid #4b3648;
  }

  :global(.dark) .element img {
    filter: invert(1);
  }

  .element.vertical {
    min-height: 100px;
  }

  .element.integration {
    grid-column: span 3;
  }

  .c_shadow {
    filter: drop-shadow(-3px -3px 3px rgba(255, 255, 255, 0.4))
      drop-shadow(2px 3px 2px #edcdcd) drop-shadow(3px 6px 4px #edcdcd)
      drop-shadow(4px 9px 6px #edcdcd)
      drop-shadow(0px 4px 40px rgba(255, 90, 85, 0.3));
    transform: translateZ(0);
  }

  :global(.dark) .c_shadow {
    filter: drop-shadow(-3px -3px 3px rgba(255, 255, 255, 0.1))
      drop-shadow(2px 3px 2px #322030) drop-shadow(3px 6px 4px #322030)
      drop-shadow(4px 9px 6px #322030)
      drop-shadow(0px 4px 40px rgba(255, 90, 85, 0.3));
    transform: translateZ(0);
  }

  .repository {
    margin-top: 1rem;
    display: grid;
    gap: 0.5rem;
    grid-template:
      "author author" auto
      "githubUrl liveUrl" auto / 1fr 1fr;
  }

  .author {
    grid-area: author;
  }

  .githubUrl {
    grid-area: githubUrl;
    justify-self: start;
  }

  .liveUrl {
    grid-area: liveUrl;
    justify-self: end;
  }
</style>
