---
const { title } = Astro.props;
const { rendering } = Astro.props;
const { integration } = Astro.props;
const { lib1 } = Astro.props;
const { lib2 } = Astro.props;
const { lib3 } = Astro.props;
---

<section class="p-6 border border-slate-300 rounded-lg  bg-[radial-gradient(circle_at_center,_var(--tw-gradient-stops))] from-red-300 to-white">
  <p>{title}</p>
  <div class="flex">
    <div class="basis-1/3 p-1 border border-slate-300 rounded-lg bg-white">
      <img src={lib1} typeof="foaf:Image" class="m-auto size-6" />
    </div>
    <div class="basis-1/3 p-1 border border-slate-300 rounded-lg bg-white">
      <img src={lib2} typeof="foaf:Image" class="m-auto size-6" />
    </div>
    <div class="basis-1/3 p-1 border border-slate-300 rounded-lg bg-white">
      <img src={lib3} typeof="foaf:Image" class="m-auto size-6" />
    </div>
  </div>
  <div class="p-1 border border-slate-300 rounded-lg text-center bg-white">{integration}</div>
  <p class="p-1 border border-slate-300 rounded-lg text-center bg-white">{rendering}</p>
</section>
